PORT=8001
JWT_ACCESS_SECRET=SECRET123
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19zN0VZdFhZMklzLUZUZmRkS2RxMGIiLCJhcGlfa2V5IjoiMDFLNkI4VlZHNVBCTldNWjdaMkhDMlZDTUQiLCJ0ZW5hbnRfaWQiOiIzZDhhOTNhYzlhMDA4ZjRkNjBmY2IxNmUxM2U3YTJiMmI4ZTM1MTc1NjQ1ODllNDhhNWVjNDc4YWEzNDg4NzlhIiwiaW50ZXJuYWxfc2VjcmV0IjoiMWYxMmNmYmMtZDAyNy00ZTJlLTkzZjItZDczNWU2N2Q4N2VlIn0.WV7YljAJ4jcUxVu1LRXjdb2L1j8LmV4tkKuTBJbIoUQ"